<div class="container">
  <div class="card">
    <md-tab-group (selectedIndexChange)="selectedIndexChange($event)"
                  [selectedIndex]="selectedIndex">
      <md-tab label="SMALL MODELS">
        <ul class="list-group" style="margin:10px">
          <li class="list-group-item">Comes in multiple sizes less than 2 ft width</li>
          <li class="list-group-item">Standup mandirs, small jharokhas, dresser/counter top, wall hanging models</li>
          <li class="list-group-item">Comes in your choice of stain</li>
          <li class="list-group-item">Traditional & Contemporary desings</li>
          <li class="list-group-item">Prices are $500 below</li>
        </ul>
      </md-tab>

      <md-tab label="MEDIUM MODELS">
        <ul class="list-group" style="margin:10px">
          <li class="list-group-item">
            3 ft wide models, with traditional and contemporary designs
            20 or 24 inch deep, height around 4 ft
          </li>
          <li class="list-group-item">Standup mandirs, small jharokhas, dresser/counter top, wall hanging models</li>
          <li class="list-group-item">Base model comes with 2 draws, 1 end to end pull out tray, gopuram, front rails etc</li>
          <li class="list-group-item"> Options to choose – Side mesh closing, front arches, steps, light and additional carvings</li>
          <li class="list-group-item">Prices range from $750 to $1000 Dollars</li>
        </ul>
      </md-tab>

      <md-tab label="LARGE MODELS">
        <ul class="list-group" style="margin:10px">
          <li class="list-group-item">Width is 4 ft and above. Depth 24 inches and height between 4 to 5 ft</li>
          <li class="list-group-item">Comes in your choice of stain</li>
          <li class="list-group-item">
            Standard model comes with 3 draws, 1 pull out tray, gopuram with shank chakra namam, light, side mesh closing, 2 steps, front railings and arches
          </li>
          <li class="list-group-item">Priced from $1250 and above based on size and designs</li>
        </ul>
      </md-tab>

      <md-tab label="ROSE WOOD">
        <ul class="list-group" style="margin:10px">
          <li class="list-group-item">Product range includes, Swings, Dining Tables, Bedroom sets, coffee & end tables, wall hangings and many more</li>
          <li class="list-group-item">Rosewood furniture made in India and shipped to your house</li>
          <li class="list-group-item">Can be made with or without inlay work</li>
          <li class="list-group-item">Large sized carved God Idles</li>
          <li class="list-group-item">Reach out to us for more info and pricing</li>
        </ul>
      </md-tab>
    </md-tab-group>
  </div>
</div>