<div class="container">
  <div class="card">
    <div class="card-header">
      About Us
    </div>
    <div class="card-block">
      <blockquote class="card-blockquote">
        <h4 class="card-title">
          WELCOME TO MANDIRAMS.COM (PRONOUNCED MANDIRS AND MORE).
        </h4>
       
        At MandirsAndMore.com we offer custom made Pooja mandirs, Home Temples, Jharokhas and Indian traditional Furniture made with premium wood, that will add religious and traditional touch and style your home. All our products are handcrafted and feature unique patterns and striking colors. The depth in our product range gives you a great selection and the ability to compare designs and prices.

        Many products are exclusive to us and have been designed and created with creativity and passionate craftsmen and artisans. All the items listed are for your reference purpose and custom made on orders at our Dallas, TX location. Our pricing is competitive and additional savings can be availed by reducing the individual shipping costs from India. We add new items on a regular basis, many of which are exclusive to us so please visit us frequently.

        We hope your shopping experience at MandirsAndMore.com is enjoyable. Orders are processed within 3 to 4 business weeks days and it is always our effort to complete the shipping process at the earliest. However, please be advised that, we are currently not offering online orders from our website. Please reach out to us at info@mandirsandmore.com for ordering processing. If you have any questions about the products please feel free to call 4798992293/2371. We will get back to you as promptly as possible. Your feedback is vital, so please pen your thoughts and drop us an email.

        Finally if you are looking for multiple orders (for your friends, families & neighbors), please reach out to us for special discounts and lesser shipping costs.
        
        <br /><br />

        Thanks for stopping by.
        <br />
        Mandirams.com
      </blockquote>
    </div>
  </div>
</div>

